@model List<AccountListModel>
<div class="row mt-4">
    <div class="col-6">
        <h5>User Information</h5>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Name: @ViewBag.FullName</p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to User List</a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <h5>Account Info</h5>

        @if (Model.Count > 0) 
        {
            foreach (var account in Model)
            {
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Account Number: @account.AccountNumber</h5>
                        <p class="card-text">Balance Information: @account.Balance</p>
                        <a asp-action="SendMoney" asp-controller="Account" asp-route-accountId="@account.Id" class="btn btn-primary">Send Money</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                User's Account Information Not Found!
            </div>
        }
    </div>
</div>
